#username {
	align-items: center;
	text-align: center;

}
#password {
	align-items: center;
	text-align: center;

}
#button {
	align-items: center;
	text-align: center;
	margin-top: 20px;
}
.form
{
	margin-top: 15%;
	background: #eeeeee;
	border-radius: 2%;
	padding: 60px;
	display: inline-block;
	margin-left: 40%;
	box-shadow: 5px 5px 5px 1px grey;
    
}
