#App_Menu {
/*	background-image: url(Pokemon_Menu_Background.jpg);*/
	background-size:100% 100%;
	height: 1000px;
}

h5 {
	top: 10%;
}

#Inner_text{
	font-size: 100px;
	text-align: center;
}

#title-wrapper{
	position:relative;
	top: 50px;
}

#Function_displayer {
	border-radius: 10%;
	position: relative;
    height: 70%;
    width: 83%;
    background: hsla(0,0%,100%,.0);
    left: 0;
    top: 150px;
    bottom: 0;
    right: 0;
    margin: auto;
}

#Store{
	border-radius: 10%;
	background-image: url(Title.png);
	background-size: 100% 100%;
	position: absolute;
	margin: 1.66%;
    width: 47.65%;
    height: 45.55%;
	float: left;
}

#Store_text{
	position: absolute;
	margin-bottom: 10px;
	bottom: 0;
	left: 39%;
}
#Profile_text{
	position: absolute;
	margin-bottom: 10px;
	bottom: 0;
	left: 24%;
}

#Store_text a{
	font-size: 150%;
	color: black;
}

#Profile_text a{
	font-size: 150%;
	color: white;
}

#Video_ads{
	border-radius: 10%;
	position: absolute;
	background-color: black;
	left: 49.35%;
	margin: 1.66%;
    width: 47.65%;
    height: 45.55%;
	float: right;
}

#Ads_img{
	position: relative;
}

#Ads_img_gif{
	border-radius: 10%;
	width: 100%;
	height:100%;
	height: -webkit-fill-available;
}

#Search{
	border-radius: 10%;
	position: absolute;
	background-image: url(Search_Background.png);
	background-size: 100% 100%;
	left: 49.35%;
	top: 48.6%;
	margin: 1.66%;
    width: 47.65%;
    height: 45.55%;
	float: right;
}

#TrainerSearch{
	position: absolute;
	margin-bottom: 10px;
	bottom: 0;
	left: 35%;
}

#Search_img{
	position: absolute;
	left: 12%;
}

#Search_img_gif{
	width: 80%;
	height:80%;
}

#Profile{
	border-radius: 10%;
	background-image: url(Profile_background.jpg);
	background-size: 100% 100%;
	position: absolute;
	background-color: black;
	top:48.6%;
	margin: 1.66%;
    width: 47.65%;
    height: 45.55%;
	float: left;
}

#Profile_img{
	position: absolute;
	top:5%;
	left: 30%;
}

#Profile_img_gif{
	width: 60%;
	height:60%;
}