.background {
    margin: auto;
    width: 100%;
    height: 20.55%;
}

.context-dark{
    color:#fff;
}
.inline-title {
    font-size: 100px;
    text-align: center;
}

.inline-pictures{
    height: 60%;
    width: 50%;
    float: left;
    margin-left: 140px;
    margin-right: 35px;
    margin-top: 160px;
}

.div-picture{
    height:60%;
    width:60%;
    margin-left: 50%;
    float: left;
}

#nameTag-and-priceTag-wrapper {
    position: absolute;
    top:100px;
}

.nameTag {
    margin-top:100px;
    font-size: 50px;
    color:white;
}
.priceTag {
    font-size:20px;
    text-align: center;
    color:lightblue;
    margin: 20px;
}
.productPageBody{
    background-image: url(background.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 1000px;
    margin-top: -1%;
    text-align: center;
}

#intro{
    font-size:20px;
    color:white;
    width: 300px;
    margin-left: 10px;
    margin-top: 100px;

}
.inline-documents{
    position: absolute;
    min-height: 1px;
    height:50%;
    width:25%;
    padding-right: 15px;
    padding-left:50%;
    float: left;
    font-weight: bold;
    margin-left: 25%;


}
#hr{
    color:grey;
}
#shapeButton{
    position: absolute;
    background-color: lightblue;
    height: 50px;
    width:100px;
    border-radius: 10px;
    margin-left: 13%;
    margin-top:50px;
    top: 700px;
}
#buy{
    font-size:150%
}