#Title {
	color: orange;
}

.PsyduckGif {
	width: 750px;
	height: 750px;
	margin-top: -290px;
	margin-left: -120px;
}

#container {
	background-color: grey;
	border: 1px solid;
	border-radius: 50%;
	width:500px;
	height:500px;
	float: left;

}